@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono&display=swap');

:root {
  --color-black: #000000;
  --color-blue-200: #1100ff;
  --color-blue-700: #daf0ff;
  --color-gray-600: #dfdfdf;
  --color-white: #ffffff;

  --font-family-sans-serif: 'Fira Sans', sans-serif;
  --font-family-serif: 'Times New Roman', serif; /* Unused */
  --font-family-mono: 'JetBrains Mono', monospace;

  --font-size-200: 18px;
  --font-size-300: 20px;
  --font-size-400: 28px;
  --font-size-500: 36px;
  --font-size-600: 46px;
  --font-size-700: 70px;

  --line-height: 26px;

  --max-width: 1100px;

  --transition-snappy: 0.3s ease-out;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

html {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-200);
}

a:not(.unstyle) {
  /* Specify height so border-box can actually adjust for hover border-bottom */
  height: var(--line-height);

  background-color: var(--color-gray-600);
  border-color: var(--color-gray-600);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  color: var(--color-blue-200);
  display: inline-block;
  font-weight: bold;
  margin: 0 2px;
  padding: 0 4px;
  text-decoration: none;
  transition: border-color var(--transition-snappy);
}

a:active:not(.unstyle), a:focus:not(.unstyle), a:hover:not(.unstyle) {
  border-color: var(--color-blue-200);
}

h1 {
  font-size: var(--font-size-600);
  margin: 16px 0 8px;
}

h2 {
  font-size: var(--font-size-500);
  margin: 38px 0 6px;
}

h3 {
  background-color: var(--color-blue-700);
  font-size: var(--font-size-400);
  font-weight: 400;
  margin: 30px 0 4px;
}

h4 {
  font-size: var(--font-size-300);
  margin: 20px 0 2px;
}

p {
  margin: 0 0 12px;
  line-height: var(--line-height);
}

ul, ol {
  margin-bottom: 8px;
  padding-left: 27px;
}

ul ul, ul ol, ol ul, ol ol {
  padding-left: 40px;
}

li {
  margin: 4px 0 4px;
}

header {
  background-color: var(--color-blue-200);
  padding: 0 2px;
}

.homepage-link {
  color: var(--color-white);
  font-size: var(--font-size-700);
  font-weight: bold;
  text-decoration: none;
}

.page-type-article {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 32px;
}
