@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Oswald:wght@400;700&family=Source+Sans+3:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-palette-black: #000000;
  --color-palette-blue-200: #1100ff;
  --color-palette-blue-300: #3c5eff;
  --color-palette-blue-700: #daf0ff;
  --color-palette-gray-600: #dfdfdf;
  --color-palette-gray-700: #ebebeb;
  --color-palette-white: #ffffff;

  --color-link: var(--color-palette-blue-200);
  --color-link-focus: var(--color-palette-blue-300);

  --font-family-primary: 'Source Sans 3', sans-serif;
  --font-family-heading: 'Oswald', serif;
  --font-family-code: 'JetBrains Mono', monospace;

  --font-size-200: 18px;
  --font-size-300: 20px;
  --font-size-400: 28px;
  --font-size-500: 36px;
  --font-size-600: 46px;
  --font-size-700: 70px;

  --line-height: 26px;

  --max-width: 1100px;

  --transition-snappy: 0.3s ease-out;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

html {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-200);
}

a:not(.unstyle) {
  color: var(--color-link);
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}

a:active:not(.unstyle), a:focus:not(.unstyle), a:hover:not(.unstyle) {
  color: var(--color-link-focus);
  text-decoration: underline;
}

/** Adds externalLink.png to links with the target attribute set to "_blank". */
a[target="_blank"]:not(.unstyle):after {
  /* Keep width and height in sync. */
  --icon-height: 16px;
  background-color: var(--color-link);
  content: '';
  display: inline-block;
  height: var(--icon-height);
  margin: 0 1px 0 4px;
  mask: url("/externalLink.png");
  mask-repeat: no-repeat;
  mask-size: contain;
  vertical-align: middle;
  width: var(--icon-height);
}

/**
 * Focus color consistency for externalLink.png (found on links with
 * target="_blank")
 */
a:active[target="_blank"]:not(.unstyle):after,
a:focus[target="_blank"]:not(.unstyle):after,
a:hover[target="_blank"]:not(.unstyle):after {
  background-color: var(--color-link-focus);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: var(--font-size-600);
  margin: 16px 0 8px;
}

h2 {
  font-size: var(--font-size-500);
  margin: 52px 0 6px;
}

h3 {
  border-color: var(--color-palette-blue-700);
  border-style: solid;
  border-width: 4px 0;
  font-size: var(--font-size-400);
  font-weight: 400;
  line-height: 1.2;
  margin: 46px 0 8px;
}

h4 {
  font-size: var(--font-size-300);
  margin: 20px 0 2px;
}

p {
  margin: 0 0 12px;
  line-height: var(--line-height);
}

ul, ol {
  margin: 0 0 8px;
  padding-left: 27px;
}

ul ul, ul ol, ol ul, ol ol {
  padding-left: 40px;
}

li {
  margin: 4px 0 4px;
}

header {
  background-color: var(--color-palette-blue-200);
  padding: 0 2px;
}

.homepage-link {
  color: var(--color-palette-white);
  font-size: var(--font-size-700);
  font-weight: bold;
  text-decoration: none;
}

.page-type-article {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 32px;
}
